@model List<Info>
@{
    int eventCounter = 0;

}
@foreach(var info in Model)
{
        <div class="container">
        @{ eventCounter++;}
        <h2>Event @eventCounter</h2>
        <p>@info.EventName</p>
        <p>Date: @info.EventDate</p>
        <p>Time: @info.EventTime</p>
        </div>
}

@if(eventCounter == 0)
            {
                <h2>Sorry :(</h2>
                <h2>No events match this criteria</h2>
            }